@{
    ViewData["Title"] = "Portfolio";
}

<div class="row">
    <div class="col-12">
        <h1>PORTFOLIO</h1>
        <h2>
            Our Clients
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Our Clients
        </h3>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/cannon-tackle-monitor.png" alt="cannon-tackle-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>CANNON TACKLE SUPPLY</strong>
                            <br />
                            As a distributor client that specializes in the Warm Water and Cold Water Fishing Industry that carries about 40,000+ products in total with the leading brands that make up this growing industry.
                            <br />
                            They came to us with a pressing need to utilize their business product data, customer database and their purchases to create a private extranet to allow 24 hour / 7 day a week / 365 days a year access to order products for their brick-n-mortar storefronts. Additionally, we've been able to massage their data to re-purpose database for their clients to have online retail stores as well.
                            <br />
                            This client has experienced tremendous growth around 20 to 25% per year since instituting our web and marketing solutions
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.cannontackle.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/hharchery-monitor.png" alt="h&amp;h_archery-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>H&amp;H ARCHERY SUPPLY</strong>
                            <br />
                            This client has been a proud client of ours for 20+ years and has similar toolsets for their dealer network. They have multiple dealers that utilize the Distributor Network to sell online too. They carry over 8,000 archery products and have over 1,300 brick-n-mortar archery retailers carry their products.
                            <br />
                            We’re able to utilize distributor product data for the benefit of this retailer to load new product and pricing matrix to quickly go live.
                            <br />
                            H &amp; H Archery Supply is a very successful distributor in the Archery business and serves a wonderful group of Archery Dealers. We provide many of their clients with online storefronts in support of their brick-n-mortar locations.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.hharchery.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/marine-general-monitor.png" alt="marine-general-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>MARINE GENERAL</strong>
                            <br />
                            This client has been with us for 7 years and we just completed their "brand new” responsive online retail store. There a dealer of one of our Distributor Network clients and been in existence since the 1970’s. They carry over 40,000 fishing and hunting products and have a brick-n-mortar retail store.
                            <br />
                            We’re able to utilize distributor product data for the benefit of this retailer to load new product and pricing matrix to quickly go live.
                            <br />
                            Additionally, we took over responsibility for SEO and PPC effort in late October ‘15 and have effectively moved their web ranking from 986K to below 200K in Dec ’15 and with a limited PPC generated sales of over $80,000+ in between those months.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.marinegeneral.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/a1archery-monitor.png" alt="a1archery-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>A1 ARCHERY</strong>
                            <br />
                            This client has been with us for 8 years and we just completed a "brand new” responsive online retail store for them. There a tremendously successful Archery dealer and they benefit from our Distributor Dealer Network solution. They operate over 8 websites with some very niche oriented product specific solutions.
                            <br />
                            They have experienced yearly increases in their business between 20 to 30% over the past 7 years. They have been tremendous, quick learners to utilizing the web to create a large return on their investments surrounding effective use of the internet.
                            <br />
                            They believe our web and marketing solutions bring a truly effective business solution that allowed them a significant business online to match their successful three retail locations.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.a1archerystore.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/crossbow-xpert-monitor.png" alt="crossbow-xpert-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>CROSSBOW XPERT</strong>
                            <br />
                            This client came to us with an idea to improve the experience of buying crossbows and crossbow accessories in a very specific and niche market where the trend was experiencing great growth. We built a tool to package products together as well as build your crossbow tool to match the buyer's budget and requirements of what they wanted to purchase.
                            <br />
                            They had set a reasonable goal for total sales their first year and they crushed the goal by 10 times. They were elated and surprised their initial plan came fruition. They now have built 6 more sites since experiencing so much success. They have big plans for the future to accomplish a great deal more.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.crossbowexpert.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/helgeson-platzke-monitor.png" alt="hp_real_estate" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>HP REAL ESTATE GROUP</strong>
                            <br />
                            Brace Helgeson and Ryan Platzke Real Estate Group have been a client of ours for over 13 years and they are the #2 agent team overall within the Coldwell Banker Burnet organization. They control the market of the City of Eden Prairie in total sales for the last 8 years and participating sale sides too. We just completed their new "Responsive" website and recently took over their PPC and SEO marketing effort and write blogging entries for them as well.
                            <br />
                            When we first began providing web solutions to Brace he was operating a team of three (3) people and he has grown his team to sixteen (16) staff. They deliver exceptional service and the new website and brand we created truly matches their goals they have set for themselves in the future.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.hprealestategroup.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/homan-premier-monitor.png" alt="cb_holman" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>CB HOLMAN PREMIER</strong>
                            <br />
                            Our Oregon client in Klamath Falls serving southern part of the State and Northern California just south of Klamath County. Eight (8) years ago, the broker owner contacted us to build their website and brand relevancy. Two years later they became the #1 brokerage in their Realtor Board and truly controls the listing count and overall sales.
                            <br />
                            The owner recently sold off his brokerage and he believes because of us he doubled the sale price of his successful real estate business. We're discussing making more big changes and building them a "Responsive" website solution to serve smart phones, tablets, and laptops equally well and obtain positive relevancy with Google and Google Mobile holding great organic placement overall.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.coldwellbankerholmanpremier.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top img-fluid" src="~/img/carriage-house-monitor.png" alt="carriage-house-monitor" />
                    <div class="card-body">
                        <p class="card-text">
                            <strong>CARRIAGE HOUSE MN REALTY</strong>
                            <br />
                            Nancy Raddohl came to us recognizing her website was from an older generation and holding no rank whatsoever. We created a new web site and provided her a full blown marketing solution to help her build her business back up. She has experienced her best year in 2015 in real estate sales and her listing count is larger now than it has been in the last 10 years.
                            <br />
                            She is requesting of the AHODWEB team to create a internet marketing plan to help her gain greater momentum and enhance her overall sales for 2016.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="http://www.carriagehousemn.com/" class="btn btn-primary">View Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>
            Other Clients:
        </h3>
        <p>
            <ul>
                <li>
                    <strong>Distributor Networks</strong>
                    <ul>
                        <li>ZTRAPS</li>
                        <li>AUBRIGHT</li>
                        <li>AP OUTDOORS</li>
                        <li>DROP'N'DRY DRYER</li>
                    </ul>
                </li>
                <li>
                    <strong>Distributor Networks</strong>
                    <ul>
                        <li>ZTRAPS</li>
                        <li>AUBRIGHT</li>
                        <li>AP OUTDOORS</li>
                        <li>DROP'N'DRY DRYER</li>
                    </ul>
                </li>
                <li>
                    <strong>E-Commerce</strong>
                    <ul>
                        <li>HUNT WITH OZONE</li>
                    </ul>
                </li>
                <li>
                    <strong>Real Estate</strong>
                    <ul>
                        <li>SCATES REAL ESTATE</li>
                        <li>NEWLOVE REALTY</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-12">
        <h3>
            More...
        </h3>
        <p>
            <ul>
                <li>Southwick Technologies</li>
                <li>Cannon Tackle</li>
                <li>H&H Archery Supply</li>
                <li>A1 Archery, Inc.</li>
                <li>C.W. Erickson Mfg, LLC</li>
                <li>E. Larsen Enterprises, Inc.</li>
                <li>Gaders Products, LLC</li>
                <li>Haugen Binion & Company CPAs, LLC</li>
                <li>Marine General</li>
                <li>Minnesota Archery, Inc.</li>
                <li>Retired Players Assoication</li>
                <li>Sisal Rugs Direct</li>
                <li>Ztrap</li>
                <li>Allstar Realty</li>
                <li>Annette Perna'Taormina</li>
                <li>Bonnie Erickson</li>
                <li>Bullock & Hinkey RE</li>
                <li>Cartwright Realty, Inc.</li>
                <li>Chris Binner</li>
                <li>Craig Rush</li>
                <li>Crater Lake Realty</li>
                <li>David Effler</li>
                <li>George R Harvey Jr</li>
                <li>Jake McTigue</li>
                <li>Jerome Whalen</li>
                <li>JoAnn Heller</li>
                <li>John Burchmore</li>
                <li>Joshua Landis</li>
                <li>Kevin Malloy</li>
                <li>Lane Schiller Properties</li>
                <li>Lars Carlson</li>
                <li>Linda Avery</li>
                <li>Lisa Ash</li>
                <li>Mark Dollard</li>
                <li>Mary Sama</li>
                <li>Mick Varner</li>
                <li>Munson Real Estate</li>
                <li>Princeton Realty</li>
                <li>Telluride & Mountain Village Properties</li>
                <li>Telluride Premier Properties</li>
                <li>Telluride Real Estate Brokers, Inc.</li>
                <li>Telluride Real Estate Corporation</li>
                <li>United Country Banning JCT Real Estate</li>
                <li>United Country Premier Real Estate</li>
                <li>Zutler Realty</li>
                <li>Brace Helgeson</li>
                <li>Carriage House Rentals & Realty, LLC</li>
                <li>Cheryl Brenna</li>
                <li>Coldwell Banker Holman Premier</li>
                <li>Diana Johnson</li>
                <li>Doug Hoskins</li>
                <li>Heartland Realty, Inc.</li>
                <li>Jan and Dave Rome</li>
                <li>Linda Mulligan</li>
                <li>Michael Bartus</li>
                <li>Newlove Realty</li>
                <li>Petersen Real Estate Team</li>
                <li>Ray Bowers</li>
                <li>Rothberg & Steiner Real Estate</li>
                <li>Setterfield & Bright Realtors, Inc.</li>
                <li>AAA Movers</li>
                <li>Aubright</li>
                <li>Idle Acres</li>
                <li>Insight Companies, Inc.</li>
                <li>Pemtom Land Company</li>
                <li>Roseville Properties</li>
                <li>THIELEN MARKETING</li>
                <li>Tombstone Creek Outfitters</li>
            </ul>
        </p>
    </div>
</div>

