@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Experts In Internet Marketing & Online Commerce
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Overview
        </h3>
        <p>
            Respected for our broad industry knowledge, outstanding customer service, and second to none solutions, PlacoVU Consulting can create custom solutions to meet your specific business requirements or you can integrate any of our "ready to plug in" solutions.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Our Approach
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            PlacoVU’s Approach Designed For You
        </h3>
        <p>
            When contracted for our services, PlacoVU Corporation immediately prepares to fiercely fight for our client’s relevancy on the web, participation in effective card programs and later, strengthen their in-house systems for greater awareness of day-to-day operations.
        </p>
        <p>
            From day one, we’re built to do things a very different way. First, we started looking forward some 5 years ago trying to bridge different disciplines together under one backbone to begin solving our clients’ almost always greatest business challenges. It’s Big Business Data... and it’s a mammoth sized problem that seems to never go away!
        </p>
        <p>
            At PlacoVU Solutions, we have opened up our floor plan by mobilizing are departments together strategically in working cells that can easily morph in size or quickly disintegrate and allow our moving parts to move on to other necessary tasks. We believe our freedom from the traditional software/web consulting firm for services model helps us create more impactful tools. It defines our culture, drives collaboration, and is what makes working with PlacoVu leave you with such a pleasant lasting impression. We truly our different and take great pride knowing it!
        </p>
        <p>
            It’s true that numbers will not lie but they can mislead you. As with demographic data – it can seem extremely pointed, but -- it doesn’t always tell the whole story either. That’s why our solutions if used to tie all of the data loose ends together under a companywide data depository to not only allow you to be in better control of your data. It will also allow you to gain better insight in real time about your present and future business contracted going forward. We see our systems gathering your organization valuable insights, furthering your revenue streams, removing disparate data issues and strengthening your overall brand relevancy and placement by optimizing your data for third party purposes. On the web and through an enhanced data pipe and backbone we will discover what really drives consumer purchases and how we can fine tune it for your most favorable results.
        </p>
        <p>
            It’s true... we’re definitely geeky. We love building and talking with our clients about emerging technologies, apps, APIs and platforms that could enhance the work efficiencies and financial performance of our clients. We’re here to help bridge the gap between the top of the Big Box Retailers and pretty much all others competing to sell their products and services in the worldwide marketplace. We’ve positioned ourselves to intersect where emerging technology is required to assist company leaders to reach out to their retailers, consumers, business departments, the brands, and the media. We’re responsible for building leading edge technologies that will move people closer to action, consumers and/or client’s work force.
        </p>
        <p>
            It’s our philosophy that in order to cut through the clutter and make the largest impact that we can marketing initiatives and technology should be in perfect alignment. Cross-pollination requires great discipline and determination. It will lead to vibrant ideas, thought provoking plans, flawless execution and better overall results. And in the end, it will embody significant freedom for the company and staff growth/experience.
        </p>
        <p>
            Let us help you!
        </p>
        <p>
            PlacoVU’s team believes that the future of online and mobile shopping will be localized. The key to winning that future is to maximize the value inherent in existing product data (i.e., inventory) by standardizing it and integrating it with online marketing.
        </p>
        <p>
            PlacoVU adds value to your existing inventory management system by transforming this product data into a standard repository that can be leveraged for improved marketing efforts. A well-organized product data set provides a competitive edge for turning online shoppers into local shoppers:
        </p>
        <p>
            <ul>
                <li>Credit Card Reward Redemption - Allow major credit card holders the instant gratification of browsing and purchasing products directly with reward points for in-store pickup, without having to deal with gift cards or shipping delays.</li>
                <li>Localized Marketing Efforts – Supplying data to search engines (e.g., Google, Bing) that will attract product-specific searches from nearby potential customers, allowing them to purchase in-stock products and pick them up from local stores.</li>
                <li>Online Storefronts – Expand online presence by posting data to online store fronts on places like eBay, Amazon, and social media sites.</li>
            </ul>
        </p>
        <p>
            Our team has been providing solutions similar to these for some time. We have been creating our enterprise solution called SpringBoard Data Solutions. It allows Large to Midsize companies to compete with giant retailers, like, Walmart, Best Buy, Target and Amazon on a more equal terrain.
        </p>
        <p>
            Join Us Today.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Our Team
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            PlacoVU’s Team
        </h3>
        <p><strong>Abdur Khan</strong></p>
        <p>
            <ul>
                <li>14yrs of Software Development Veteran</li>
                <li>Bachelors in CS and MS in Software Engineering</li>
                <li>Developed software for multiple industries;</li>
                <li>
                    Retail,
                    <ul>
                        <li>Legal,</li>
                        <li>Airline,</li>
                        <li>e-Commerce,</li>
                        <li>Education,</li>
                        <li>Printing,</li>
                        <li>Professional Web Development, Windows Development, JAVA Development and others</li>
                    </ul>
                </li>
            </ul>
        </p>
        <p><strong>Tim Osmondson</strong></p>
        <p>
            <ul>
                <li>
                    23 years creating focused Marketing Initiatives such as automated print, web solutions &amp; property search for RE Companies such as;
                    <ul>
                        <li>Coldwell Banker</li>
                        <li>Edina Realty</li>
                        <li>Keller Williams</li>
                        <li>Century 21</li>
                        <li>Prudential</li>
                        <li>and Many More Smaller RE Brokers across the U.S.</li>
                    </ul>
                </li>
                <li>10 years Developing Distribution Business Solutions for Mid-Size Companies</li>
                <li>Provided a Wide Mix of Marketing and Graphic Design and consulting services to over 500+ companies from Top 500 Corporations to small business entrepreneurs over my career.</li>
                <li>2000+ Logos created and Brand Development Services Provided.</li>
            </ul>
            <div></div>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Why PlacoVU Consulting?
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Why PlacoVU Solutions?
        </h3>
        <p>
            <em>"Elevating the Value of Your Product Data”</em>
        </p>
        <p>
            Why is <strong>Big Data</strong> at the backbone of most conversations at almost every conference room table around the globe? Sure, it’s a subject highlighted in industry reports but today it’s discussed on the evening news which perpetuates conversations at dinner tables, coffee houses and corner bars between the general public mostly driven by fear because of the great unknowns.
        </p>
        <p>
            Why is there such intensity and diversion centered on such a generalized problem?
        </p>
        <p>
            In most cases, it seems very odd to us that experts are forecasting limited spending on a topic so overplayed on the airways and spent discussing to corporate ad nauseam. Nevertheless, if looked at amongst the eyes of the general population you will see clearly that most people are completely confused by the term <strong>"Big Data”</strong> – we’re included.
        </p>
        <p>
            As explained to us, from a pure analytics standpoint analysts would surmise that more data is beneficial to acquiring more authentic results. Thus, better data. We believe that this is also true with the accumulation of product-specific data as well. However, it does not escape the fact that data, either Big or Small, is completely useless until you combine the appropriate data to be utilized in a meaningful, fruitful way.
        </p>
        <p>
            This is exactly why our PlacoVu team has come together and why our proprietary SpringBoard Data solution was completed to optimize your product data set so you can maximize your return on product revenues. We realize that product databases are bulging at the seams, hardware technologies are reaching tremendous performance and our database practices and our leading edge architecture backbone delivers optimum speed and efficiencies providing you options never made available before to your company.
        </p>
        <p>
            The topic that most interests us isn’t <strong>"Big Data”</strong> but the use of disparate data (unstructured data) to create more revenue streams surrounding the sale of more of your products at a fair margin. This is only one of the many avenues our team of experts can elevate you product data and increase your revenue model.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Resources
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Resources
        </h3>
        <p>
            We are creating valuable resources for both our prospective and present day clients but at this time it is all in development. We ask you to check back in the near future for these invaluable resources.
        </p>
        <p>
            Please contact us for additional information or a brochure of our services at 612.366.5842 and we will get that to you promptly. We look forward to serving you and providing our customers with exemplary service and care.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Employment Opportunities
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Employment Opportunities
        </h3>
        <p>
            PlacoVU Consulting is an equal opportunity employer. Visit this page to learn about employment opportunities in marketing, online sales/advertising, social media and development.
        </p>
        <p>
            THERE ARE NO OPEN POSITIONS AT THIS TIME.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>ABOUT US</h1>
        <h2>
            Hot Topics
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Hot Topics
        </h3>
        <p>
            We will be sharing with you breakthroughs in the industry and discuss the opportunities being made available to you associated to our services and the advantages in working with us.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Full-Service Marketing Solutions
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Full-Service Marketing Solutions
        </h3>
        <p>
            Full-Service Marketing Solutions
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Conceptual Design Services
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Conceptual Design Services
        </h3>
        <p>
            <strong>PlacoVU Solutions combines a practical understanding of all internet marketing options, sound business analysis skill sets and incorporates big business level practices, advanced software development capabilities, vast knowledgebase surrounding different architectures and platforms and capable of delivering valuable IT solutions and expertise.</strong>
        </p>
        <p>
            Our conceptual design service offers clients a strong foundation in rich user functionality and look and feel that will attract both customers and/or stakeholder’s to your web site. We optimize the web experience by maximizing your business benefits through web based application software still ensuring the availability and integrity of the service.
        </p>
        <p>
            By combining your business objectives with the best in conceptual design and the latest in technologies, PlacoVU can help you formulate your internet strategy to deliver efficient and effective web-based solutions that build great value and a foundation for success.
        </p>
        <p>
            We will help you identify who you need to attract, how to enhance their web experience and how to integrate with your business processes. Regardless of your size or business sector, PlacoVU will create an inspirational design for success while using internet
        </p>
        <p>
            <ul>
                <li>Identify and attract new customers</li>
                <li>Disseminate information to your stakeholders</li>
                <li>Service and support existing customers</li>
                <li>Create an effective web platform</li>
                <li>Provide mobile solutions for internal processes</li>
                <li>Integrate with back office systems</li>
            </ul>
        </p>
        <p>
            A web presence or web-based solution created by PlacoVU goes beyond the basic goal to reach out to your customers and stakeholders. It also embraces your operational processes and then, integrates with your core business systems for better results.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Project Management
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Project Management
        </h3>
        <p>
            Full-Service Marketing Solutions
        </p>
        <p>
            <strong>The Cornerstone of Successful Project Management is based on a Structured Plan, Single Priority, and Collaborative Execution which results in Skillful Execution.</strong>
        </p>
        <p>
            Despite all of the work done to improve project performance, the record of actual project completions is dismal. Project management is a complex, messy, difficult affair, which often leaves project participants (and owners) unhappy with the outcome. The traditional approach to project management emphasizes planning and tight control of project scope, but in practice, after the beginning of the project, plans are rarely updated and used to guide the execution of the project.
        </p>
        <p>
            Proven project execution methodologies are rare; the literature and research pays little attention to developing a "best practice” for delivering projects. It seems that everyone assumes that with a plan, the outcome will match. Experience shows this is not the case.
        </p>
        <p>
            We have learned there are several necessary benchmarks in the execution process that make the difference between success and failure. By following these step-by-step principles, the results achieved during project execution are achieved with impressive conclusions.
        </p>
        <p>
            Our experiences implementing Proper Project Management initiatives have shown dramatic results in project performance in many environments, regardless of the project management maturity level of the organization.
        </p>
        <p>
            We will;
        </p>
        <p>
            <ul>
                <li><strong>Double </strong>project completions</li>
                <li><strong>Reduce 15% to 25%</strong>in your project duration</li>
                <li><strong>Experience Productivity improvements nearing 20%</strong></li>
            </ul>
        </p>
        <p>
            By making strategic changes to your project execution processes, you’ll create a unified approach where your teams will be working on the most important issues using the right tools to get the job done. Your teams will begin to do what they are supposed to do; facilitate focused, lasting improvements that improve the position of the company as a whole.
        </p>
        <p>
            <ul>
                <li>Simple to use</li>
                <li>Easy to adopt</li>
                <li>Delivers significant improvements in project output, productivity, on-time delivery &amp; lead time in a VERY short time</li>
                <li>Reduced expediting activity (shorter, more productive meetings)</li>
                <li>Improved decision making capabilities (focus)</li>
                <li>A more enjoyable project management experience (improved morale)</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Software Development
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Software Development
        </h3>
        <p>
            Software Development
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Web Solutions
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Web Solutions
        </h3>
        <p>
            Web Solutions
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Mobile Applications
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Mobile Applications
        </h3>
        <p>
            Mobile Applications
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Consultation Services
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Consultation Services
        </h3>
        <p>
            Consultation Services
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Architectural Design
        </h2>
    </div>
    <div class="col-12">
        <h3>
            Architectural Design
        </h3>
        <p>
            Architectural Design
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Logistics
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Logistics
        </h3>
        <p>
            Logistics
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR CAPABILITIES</h1>
        <h2>
            Marketing Services
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Marketing Services
        </h3>
        <p>
            Mobile Applications
        </p>
        <p>
            We provide a full list of Marketing and Design Solutions to gain brand relevancy for you and a greater return on your marketing dollar.
        </p>
        <p>
            <strong>AHODWEB Marketing Categories as provided:</strong>
        </p>
        <p>
            <ol>
                <li>Brand Development</li>
                <li>Technical and Marketing Content Development</li>
                <li>Print Design, Fulfillment, and Distribution</li>
                <li>Product Packaging Design and Fulfillment</li>
                <li>Product Development</li>
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Internet Marketing Efforts</li>
                <li>Consulting Services</li>
            </ol>
        </p>
        <p>
            <strong>AHODWEB Customer Categories and Clients:</strong>
        </p>
        <p>
            <ol start="2">
                <li><strong> Online Retailers</strong></li>
            </ol>
        </p>
        <p>
            <ul>
                <li>Marine General</li>
                <li>15 Online Archery Stores support Brick &amp; Mortar locations</li>
                <li>33 Outdoor Outfitter and 18 Fishing Tackle, Bait Stores</li>
                <li>Leading, most innovative Trap manufacturer and marketer</li>
                <li>Implement Manufacturer/marketer for ATV/UTV, Cat 3-Point, Compact Tractor</li>
            </ul>
        </p>
        <p>
            <ol start="3">
                <li><strong> Back-end Business Solutions</strong></li>
            </ol>
        </p>
        <p>
            Both product inventory and product repair solutions
        </p>
        <p>
            <ol start="4">
                <li><strong> Real Estate Broker and Agent Solutions</strong></li>
            </ol>
        </p>
        <p>
            We are in 28 markets across the country with over 300+ clients utilizing our Web Solutions, Marketing Tools and IDXsearch Property Search Tools.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Maximizing Value of Assets Through State-of-the-Art Solutions
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Maximizing Value of Assets Through State-of-the-Art Solutions
        </h3>
    </div>
    <div class="col-6">
        <img src="~/img/springboard-content-image.jpg" class="img-fluid" />
    </div>
    <div class="col-6">
        <h3>
            Benefits for a Wide Range Of Business’s
        </h3>
        <p>
            <ul>
                <li>Increased sales</li>
                <li>Broader market reach</li>
                <li>Fast ROI</li>
                <li>Increased internet footprint</li>
                <li>Standard data</li>
                <li>More platform reaches</li>
                <li>Mobile, tablet pc’s etc.</li>
            </ul>
        </p>
        <p>
            Our Goal is to Help Our Client’s Reach Greater Revenues and Profits
        </p>
    </div>
    <div class="col-12">
        <p>
            PlacoVU’s team believes that the future of online and mobile shopping will be localized. The key to winning that future is to maximize the value inherent in existing product data (i.e., inventory) by standardizing it and integrating it with online marketing.
        </p>
        <p>
            PlacoVU adds value to your existing inventory management system by transforming this product data into a standard repository that can be leveraged for improved marketing efforts. A well-organized product data set provides a competitive edge for turning online shoppers into local shoppers:
        </p>
        <p>
            <strong>Three Reasons Why You Should Work With Us…</strong>
        </p>
        <p>
            <ul>
                <li>Our systems create "Expansive Presence" that strengthens your product marketing mix (Online or Digital)</li>
                <li>We have created an ability to "Optimize" your product data which in turn strengthens your placement and relevancy both online or in a digital format to generate increased sales opportunities of your product line.</li>
                <li>And finally, we assist you with "Monetizing" your company’s product data set.</li>
            </ul>
        </p>
        <p>
            <strong>Why Would You Do This?</strong>
        </p>
        <p>
            It’s fundamental and sound to your future growth…
        </p>
        <p>
            It will allow Your Organization to:
        </p>
        <p>
            <ul>
                <li>Inspire B2C scenarios</li>
                <li>
                    Enable deployment for
                    <ul>
                        <li>large marketing networks</li>
                        <li>direct B2B partnerships</li>
                        <li>Credit Card Reward Redemption - Allow major credit card holders the instant gratification of browsing and purchasing products directly with reward points for in-store pickup, without having to deal with gift cards or shipping delays.</li>
                    </ul>
                </li>
                <li>
                    Enhance brand influence by driving "localized” marketing efforts
                    <ul>
                        <li>increase consumer product purchases</li>
                        <li>improve brand awareness</li>
                        <li>and shop accessibility</li>
                        <li>And in the end, improving your overall reach…</li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            <strong>Where Can We Strengthen Your Company Product Marketing and Revenues?</strong>
        </p>
        <p>
            <ul>
                <li>Product Information APIs</li>
                <li>Store Data Sharing (Corporate Staff, Dealer Network &amp; Partners)</li>
                <li>E-Commerce Integration</li>
                <li>Complete Online E-Commerce Storefronts</li>
                <li>Product Reviews</li>
                <li>Effective Search Engine Collaboration</li>
                <li>EBay Store / Amazon Marketplace</li>
            </ul>
        </p>
        <p>
            Our team has been providing solutions similar to these for some time. We have been creating our enterprise solution called SpringBoard Data Solutions. It allows Large to Midsize companies to compete with giant retailers, like, Walmart, Best Buy, Target and Amazon on a more equal terrain.
        </p>
        <p>
            Join Us Today.
        </p>
        <p>
            <strong>Benefits for a Wide Range Of Business’s</strong>
        </p>
        <p>
            <ul>
                <li>Increased sales</li>
                <li>Broader market reach</li>
                <li>Fast ROI</li>
                <li>Increased internet footprint</li>
                <li>Standard data</li>
                <li>
                    More platform reaches
                    <ul>
                        <li>Mobile, tablet pc’s etc.</li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            Our Goal is to Help Our Client’s Reach Greater Revenues and Profits
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Product Information API's
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            SPRINGBOARD SOLUTIONS
        </h3>
        <p>
            <strong>Product Information API's</strong>
        </p>
        <p>
            <ul>
                <li>Inventory Data</li>
                <li>Aggregation of disjointed data</li>
                <li>Product Availability</li>
                <li>
                    Broaden reach to web developers, websites etc.
                    <ul>
                        <li>Offer incentives (commissions)</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Store Data Sharing
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Store Data Sharing
        </h3>
        <p>
            <ul>
                <li>Free flow of data</li>
                <li>
                    Product specific store searches
                    <ul>
                        <li>Real time product pick up (instant gratification)</li>
                    </ul>
                </li>
                <li>Point redemption (Credit card, Social Media, etc.)</li>
                <li>Inventory swap</li>
                <li>Easy to use standard APIs</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            E-Commerce Integration
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            E-Commerce Integration
        </h3>
        <p>
            <ul>
                <li>Support in house e-commerce transactions</li>
                <li>Seamless integration</li>
                <li>Commissions calculation</li>
                <li>Increase e-commerce volume</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Product Reveiws Cataloging
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Product Review
        </h3>
        <p>
            <ul>
                <li>Post reviews</li>
                <li>Fast review searches</li>
                <li>Binding reviews to real products</li>
                <li>Rating</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Search Engine Collaboration
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Search Engine Collaboration
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>SPRINGBOARD SOLUTIONS</h1>
        <h2>
            Online Product Sales/Promotions
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Ebay Store/Amazon/Social Media
        </h3>
        <p>
            <ul>
                <li>Post data</li>
                <li>Broaden market reach</li>
                <li>Fully automated</li>
                <li>Seamless functionality integration</li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Software Development, Architectural Design/Planning, Mobile Apps
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Software Development, Architectural Design/Planning, Mobile Apps
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Consultation Services
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Consultation Services
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Design
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Design
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Project Managment
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Project Managment
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Software Development
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Software Development
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Mobile Applications
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Mobile Applications
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Architectural Design
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Architectural Design
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>OUR SERVICES</h1>
        <h2>
            Logistics
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Logistics
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            Marketing Solutions For Any Industry
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Marketing Solutions For Any Industry
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            Manufacturers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Manufacturers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            Distributors/Resellers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Distributors/Resellers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            Brick 'n Mortar Retailers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Brick 'n Mortar Retailers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            E-Commerce Retailers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            E-Commerce Retailers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>INDUSTRIES WE SERVE</h1>
        <h2>
            Development Resellers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Development Resellers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            Marketing and Development Solutions For Just About Any Customer
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Overview
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            Manufacturers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Manufacturers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            Distributors/Resellers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Distributors/Resellers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            Brick 'n Mortar Retailers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Brick 'n Mortar Retailers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            E-Commerce Retailers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            E-Commerce Retailers
        </h3>
        <p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>CUSTOMERS WE SERVE</h1>
        <h2>
            Development Resellers
        </h2>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <h3>
            Development Resellers
        </h3>
        <p>
        </p>
    </div>
</div>